.email-container{
  display: flex;
  margin: 20px;
  height: 60vh;
}

.mail-header{
  /* background-color: rgb(234, 215, 253); */
  height: 100px;
  text-align: center;
}

.emails-list{
  margin-left: 20px;
}

.sort{
  padding: 7px;
  border-radius: 5px;
  margin-inline-start: 10px;
}

.filter-by-read{
  padding: 7px;
  border-radius: 5px;
  margin-inline-start: 10px;
}

.email-table{
border-bottom: 1px solid rgb(134, 134, 134);
border-collapse: collapse;
}

.email-row{
background-color: rgba(250,250,250,0.5);
font-weight: bold;
text-align: left;
}

.trash, .read-unread{
  opacity: 0;
}


.email-row:hover{
  box-shadow: -7px 11px 5px -6px rgba(0,0,0,0.75);
  cursor: pointer;
}

.email-row:hover .trash{
  opacity: 1;
}

.email-row:hover .read-unread{
  opacity: 1;
}

.email-td{
border-top: 0.2px solid lightslategray;
padding: 10px;
}


.reply:hover, .forward:hover{
  background-color: #fff;
}


.read{
background-color: #e7e7e7e6;
opacity: 0.8;
font-weight: normal;
}

.starred{
color: orange;
}

.clickable{
  cursor: pointer;
}

.new-email{
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  margin-inline-start: 80px;
}

.newMessage{
  border-bottom: 0.1px solid lightslategray;
  background-color: #e1d3f6;
  padding: 10px;
}

.message-text{
  background-color: #e1d3f6;
  border: none;
  outline: none;
}

.btn{
  border-radius: 5px;
  margin-top: 10px;
}

.send-btn{
  font-size: large;
  border: none;
}

.send-btn:hover{
  background-color: white;
}


.isOn{
  background-color: rgb(221, 219, 219);
  border-radius: 0 5px 5px 0;
  width: 150px;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.mail-dir{
  margin-inline-start: 25px;
}

.compose{
  font-size: large;
  font-weight: bold;
  border-radius: 25px;
  border: 0.3px solid lightslategray;
  padding: 10px;
  margin-bottom: 15px;
}

.compose-plus, .compose-mail{
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.compose-plus{
  font-size: 30px;
}

.space-between{
  justify-content: space-between;
}

.mail-details{
  background-color: #e1d3f6;
  width: 95vh;
  padding: 30px;
}

.mail-details > *{
  padding: 10px;
  border-radius: 5px;
}

.mail-details-container{
  margin-inline-start: 80px;
}

.elem{
  border-bottom: 0.3px solid lightslategray;
}

.unread{
  margin-inline-start: 20px;
  font-weight: bold;
}

.input-search{
  padding: 30px;
  border-radius: 5px;
  width: 300px;
}



