.email-container{
  display: flex;
  margin: 20px;
  height: 60vh;
}

.mail-header{
  height: 100px;
  text-align: center;
}

.emails-list{
  margin-left: 20px;
}

.sort{
  padding: 7px;
  border-radius: 5px;
  margin-inline-start: 10px;
}

.filter-by-read{
  padding: 7px;
  border-radius: 5px;
  margin-inline-start: 10px;
}

.email-table{
border-bottom: 1px solid rgb(134, 134, 134);
border-collapse: collapse;
}

.email-row{
background-color: rgba(250,250,250,0.5);
font-weight: bold;
text-align: left;
}

.trash, .read-unread{
  opacity: 0;
}


.email-row:hover{
  box-shadow: -7px 11px 5px -6px rgba(0,0,0,0.75);
  cursor: pointer;
}

.email-row:hover .trash{
  opacity: 1;
}

.email-row:hover .read-unread{
  opacity: 1;
}

.email-td{
border-top: 0.2px solid lightslategray;
padding: 5px;
}


.reply:hover, .forward:hover{
  background-color: #fff;
}


.read{
background-color: #e7e7e7e6;
opacity: 0.8;
font-weight: normal;
}

.starred{
color: orange;
}

.clickable{
  cursor: pointer;
}

.new-email{
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  margin-inline-start: 80px;
}

.newMessage{
  border-bottom: 0.1px solid lightslategray;
  background-color: #e1d3f6;
  padding: 10px;
}

.message-text{
  background-color: #e1d3f6;
  border: none;
  outline: none;
}

.btn{
  border-radius: 5px;
  margin-top: 10px;
}

.send-btn{
  font-size: large;
  border: none;
}

.send-btn:hover{
  background-color: white;
}


.isOn{
  background-color: rgb(221, 219, 219);
  border-radius: 0 10px 10px 0;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.mail-dir{
  margin-inline-start: 25px;
}

.compose{
  font-size: large;
  font-weight: bold;
  border-radius: 25px;
  border: 0.3px solid lightslategray;
  padding: 10px;
  margin-bottom: 15px;
}

.compose-plus, .compose-mail{
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.compose-plus{
  font-size: 30px;
}

.space-between{
  justify-content: space-between;
}

.mail-details{
  background-color: rgba(225, 211, 246, 0.5);
  width: 70vw;
  padding: 30px;
  margin-inline-end: 20px;
}

.mail-details > *{
  padding: 10px;
}

.mail-details-container{
  margin-inline-start: 80px;
}

.elem{
  border-bottom: 0.3px solid lightslategray;
}

.unread{
  margin-inline-start: 20px;
  font-weight: bold;
}

.input-search{
  padding: 30px;
  border-radius: 5px;
  width: 300px;
}

.user-msg {
  font-size: 18px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #e1d3f6;
  padding: 10px 20px;
  border-radius: 5px;
}

.hamburger{
  display: none;
  margin-inline-start: 0;
  margin-inline-end: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #fff;
}


@media screen and (max-width: 1080px){
  .mail-details{
    width: 600px;
  }
}

@media screen and (max-width: 930px){
  .mail-details{
    width: 450px;
  }
}


@media screen and (max-width: 760px){
  .hamburger{
    display: block;
  }

  .mail-details-container{
    margin-inline-start: 5px;
  }

  .compose{
    width: 50%;
    padding:10px;
    font-size: 16px;
    margin: 25px;
  }

  .compose-plus{
    display: none;
  }

  .mail-header{
    justify-content: start;
  }

  .email-container{
    margin: 0;
    padding: 0;
  }

  .emails-list{
    padding: 0;
    margin: 0;
  }

  .search-it{
    display: none;
  }

  .folder{
      border-bottom: 0.3px solid grey;
      padding: 15px;
  }

  .side-bar{
    position: fixed;
    top: 0;
    left:0;
    height:100vh;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: #e1d3f6;

    transform: translateX(-100%);  
    transition: transform .3s;
  } 

  .menuOpen {
    transform:  translateX(0);
}

@media screen and (max-width: 545px){
  .sort{
    display: none;
  }

  .filter-by-read{
    display: none;
  }
  
}

}